.imgcointainer{
    /* background-color: aqua; */
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: space-evenly; */
}
.img{
    flex: 0.4;
    margin-left: 10%;
    padding: 10px;
    /* background-color: beige; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}
.img>img{
    
width: 80%;
height: 70%;

}
img:hover{
    width:100%;
    height: 110%;
    
}
.imgdetails{
background-color: aliceblue;
flex: 0.4;
justify-self: center;
text-transform: capitalize;
text-align: center;
font-size: larger;
}

.editanddelete{

margin-top: 50px;
  display: flex;

/* justify-content: space-around; */
}
.editanddelete>input{
    flex:0.4;
   border-radius: 2rem;
   background-color: rgb(184, 24, 24);
   font-size: larger;
}